.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
.vercel
.netlify
.cloudflare
.output
dist
pnpm-debug.log
.turbo
.idea/
.eslintcache
.impeccable/
# Sentry Config File
.env.sentry-build-plugin
