{% if current_event_public_number -%}
Сейчас - №{{ '%03d' % current_event_public_number }} {{ current_event_title }}
{% endif %}
{% if next_event_public_number -%}
Затем - №{{ '%03d' % next_event_public_number }} {{ next_event_title }}
{% endif %}
