{% if current_event -%}
<b>🔥 Сейчас - №{{ '%03d' % current_event.public_number }}</b><br />
{% if current_event.block_title -%}
<b>🗂️ {{ current_event.block_title }}</b><br />
{% endif -%}
{% if current_event.nomination_title -%}
<b>🌟 {{ current_event.nomination_title }}</b><br />
{% endif -%}
<b>{{ current_event.title }}</b>
{% endif %}
{% if current_event and next_event %}
<br /><br />
{% endif %}
{% if next_event -%}
<b>🚀 Затем - №{{ '%03d' % next_event.public_number }}</b><br />
{% if next_event.block_title -%}
<b>🗂️ {{ next_event.block_title }}</b><br />
{% endif -%}
{% if next_event.nomination_title -%}
<b>🌟 {{ next_event.nomination_title }}</b><br />
{% endif -%}
<b>{{ next_event.title }}</b>
{% endif %}