{% macro events_pluralize(count) -%}
{% if (count % 10 == 1) and (count % 100 != 11) -%}
выступление
{%- elif (2 <= count % 10 <= 4) and (count % 100 < 10 or count % 100 >= 20) -%}
выступления
{%- else -%}
выступлений
{%- endif %}
{%- endmacro -%}
{% if queue_difference == 0 -%}
<b>Выступление №{{ '%03d' % event_number }} «{{ event_title }}» началось!</b>
{%- else -%}
{% set time_suffix = (' (примерно в ' ~ (expected_start_time | event_time) ~ ')') if expected_start_time else '' -%}
До начала выступления <b>№{{ '%03d' % event_number }} «{{ event_title }}»</b> осталось <b>{{ queue_difference }} {{ events_pluralize(queue_difference) }}</b>{{ time_suffix }}
{% if reason_msg %}
{{ reason_msg }}
{%- endif %}
{%- endif %}
